body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10;
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url('assets/fonts/Pixel Emulator.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#start-button {
  padding: 15px 30px;
  font-size: 24px;
  font-family: 'Pixel Emulator', sans-serif;
  color: #f6ea0c;
  background-color: #b1822a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 50px;
}

#start-button:hover {
  background-color: blue;
}

